@media only screen and (max-width: 754px) {


    ::ng-deep .page-wrapper .page-body-wrapper .page-title {
        padding-top: 35px !important;
    }

}

.modal-content {
    background-color: #101010;
}

.card-body>h5 {
    font-size: 1rem;
}

.border-bottom:last-child {
    border-bottom: none;
}