<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div>
                        <a class="logo" href="javascript:void(0)" [routerLink]="['/']">
                            <img class="img-fluid for-light" src="assets/images/lunagazer.png" alt="logo">
                            <img class="img-fluid for-dark" src="assets/images/lunagazer.png" alt="logo">
                        </a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form">
                            <h4>Begin Your Journey</h4>
                            <p>Create your account</p>

                            <div class="alert alert-danger" role="alert" *ngIf="messageErrorTrue">
                                <div *ngFor="let item of message">
                                    {{item}}
                                </div>
                            </div>

                            <div class="alert alert-success" role="alert" *ngIf="!messageErrorTrue && message.length > 0">
                                <div *ngFor="let item of message">
                                    {{item}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Username</label>
                                <input [(ngModel)]="model.username" name="username" class="form-control" type="text" required placeholder="Choose your username">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input [(ngModel)]="model.password" name="password" class="form-control" type="password" required placeholder="Create a strong password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <div class="form-input position-relative">
                                    <input [(ngModel)]="model.confirmPassword" name="confirmPassword" class="form-control" type="password" required placeholder="Confirm your password">
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="form-check">
                                    <input class="checkbox-primary form-check-input" id="checkbox1" type="checkbox" required>
                                    <label class="text-muted form-check-label" for="checkbox1">I agree to the Terms & Conditions</label>
                                </div>

                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100 mt-3" type="button" (click)="register()" [disabled]="isLoading">{{signupBtnKLabel}}</button>
                                </div>
                            </div>

                            <p class="mt-4 mb-0 text-center">Already have an account?
                                <a class="ms-2" href="javascript:void(0)" [routerLink]="['/auth/login']">Sign In</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
