.sabong-value {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;

  img {
    width: 80%;
    height: auto;
    transform: translateY(-5px);
  }
}
