<div class="container-fluid">
    <div class="page-title" style="margin-bottom: 0px!important;">
        <div class="row">
            <div class="col-sm-6">
                <h3>Receipts</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                            </svg></a></li>
                    <li class="breadcrumb-item">E-Lotto</li>
                    <li class="breadcrumb-item active">Receipts</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="page-title" style="    background-color: rgb(45 49 62);;">

        <div style="display: flex;justify-content: flex-start;flex-wrap: wrap;" class="mt-2">
            <div class="form-group" style="margin-right: 10px;">
                <input name="from" style="color: aliceblue;" type="datetime-local" class="form-control"
                    [(ngModel)]="from" />
            </div>
            <div class="form-group" style="margin-right: 10px;">
                <input type="datetime-local" style="color: aliceblue;" [(ngModel)]="to" class="form-control" />
            </div>
            <button class="btn btn-success btn-sm btn-block" (click)="getLottoReceipts()">
                Submit
            </button>
        </div>
        <div class="progress mt-3" *ngIf="isLoading">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
                loading...
            </div>
        </div>


    </div>




</div>

<div class="container-fluid">
    <!-- NO USERS -->
    <div *ngIf="!isLoading && receipts.length === 0" style="text-align: center;padding: 20px;">
        <div>
            <i class="fa-solid fa-circle-exclamation" style="font-size: 24px;"></i>
        </div>
        <span>No data found.</span>
    </div>

    <div class="row" *ngIf="receipts.length > 0">
        <!-- Loading spinner, visible when 'isLoading' is true -->

        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let item of receipts">
            <ul class="list-group"
                style="position: relative;margin-bottom: 15px; box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;background-color: white;">


                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <label style="font-weight: bold;">Draw:</label>
                            <div>{{ item?.drawName }}</div>
                        </div>
                        <div class="col-6" style="text-align: right;">
                            <label style="font-weight: bold;">Bet Time #</label>
                            <div>{{ item?.dateLog | date:'short' }}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <label style="font-weight: bold;">Draw Date</label>
                    <div>{{ item?.drawDate | date:'short' }}</div>
                </li>
                <li class="list-group-item">
                    <label style="font-weight: bold;">Receipt #</label>
                    <div>{{ item?.receiptId }}</div>
                </li>
                <li class="list-group-item">
                    <div class="accordion" [id]="'bets' + item?.receiptId">
                        <div class="accordion-item">
                            <h2 class="accordion-header" [id]="'heading' + item?.receiptId">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#collapse' + item?.receiptId" aria-expanded="true"
                                    [attr.aria-controls]="'collapse' + item?.receiptId">
                                    Please click to show all your bets
                                </button>
                            </h2>
                            <div [id]="'collapse' + item?.receiptId" class="accordion-collapse collapse"
                                [attr.aria-labelledby]="'heading' + item?.receiptId"
                                [attr.data-bs-parent]="'#bets' + item?.receiptId">
                                <div class="accordion-body">
                                    <!-- Display finalArrayWithValuesRegular content here -->
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Amount</th>
                                                    <th scope="col">Choice</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Won Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let bet of item.bets">
                                                    <td>{{ bet?.amount }}</td>
                                                    <td>{{ bet?.choice.join(' - ') }}</td>
                                                    <td>{{ bet?.type }}</td>
                                                    <td *ngIf="bet.status == 'win'">
                                                        <span class="badge badge-success"
                                                            style="margin-left: 5px;font-weight: bold;">WIN</span>

                                                    </td>

                                                    <td *ngIf="bet.status == 'lose'">
                                                        <span class="badge badge-danger"
                                                            style="margin-left: 5px;font-weight: bold;">LOSE</span>

                                                    </td>

                                                    <td *ngIf="bet.status == 'cancelled'">
                                                        <span class="badge badge-danger"
                                                            style="margin-left: 5px;font-weight: bold;">CANCELLED</span>

                                                    </td>

                                                    <td
                                                        *ngIf="bet.status != 'lose' && bet.status != 'win' && bet.status != 'cancelled'">
                                                        <span class="badge badge-warning"
                                                            style="margin-left: 5px;font-weight: bold;">PENDING</span>

                                                    </td>

                                                    <td *ngIf="bet.status == 'win'">
                                                        {{ bet?.wonAmount }}

                                                    </td>
                                                    <td *ngIf="bet.status != 'win'">
                                                        0

                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>Total Bets: {{ item?.totalBetAmount }} Php</h4>
                </li>
                <li class="list-group-item">
                    <h4>Total Won Amount: {{ item?.totalWonAmount | number : "1.2" }} Php</h4>
                </li>
                <li class="list-group-item">
                    <div *ngIf="item.result">
                        <div class="lotto-ball-container">
                            <div class="lotto-ball" *ngFor="let num of item.result">
                                <img src="../assets/images/lottoball.png" alt="lotto ball" />
                                <span>{{ num }}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!item.result">
                        <h4>No result yet.</h4>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</div>