.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    /* Ensure it is on top of other elements */
}

.modal-container {
    background-color: #2f2f2f;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.3s ease-out;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

.modal-header h4 {
    font-size: 18px;
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.modal-body {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.confirm {
    background-color: #20ec97;
    color: white;
}

.error {
    background-color: #fd4e6e;
    color: white;
}



.modal-header-success {
    background-color: green;
}

.modal-header-error {
    background-color: red;
}

.confirm:hover {
    background-color: #388e3c;
}

.error:hover {
    background-color: #e53935;
}

/* Fade-in effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}