<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div>
                        <a class="logo" href="javascript:void(0)" [routerLink]="['/']">
                            <img class="img-fluid for-light" src="assets/images/lunagazer.png" alt="logo">
                            <img class="img-fluid for-dark" src="assets/images/lunagazer.png" alt="logo">
                        </a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form" ngNativeValidate (keypress)="handleKeyboardEvent($event)">
                            <h4>Sign in to account</h4>
                            <p>Enter your username & password to login</p>
                            <div class="form-group">
                                <label class="col-form-label">Username</label>
                                <input [(ngModel)]="model.username" name="username" class="form-control" type="text" required placeholder="Enter Username">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input [(ngModel)]="model.password" name="password" class="form-control" type="password" required placeholder="*********">
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="form-check">
                                    <input class="checkbox-primary form-check-input" id="checkbox1" type="checkbox">
                                    <label class="text-muted form-check-label" for="checkbox1">Remember password</label>
                                </div>

                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100 mt-3" type="button" (click)="login()" [disabled]="isLoading">{{loginBtnKLabel}}</button>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-alert-modal></app-alert-modal>
